fastapi
jinja2 
websockets
requests
uvicorn 
starlette  
flask
numpy
pandas
scikit-learn
scipy
SQLAlchemy 
plotly
plotly-express
dash
dash-renderer
dash-core-components
dash-html-components
dash-daq
dash-bootstrap-components
dash-auth
pydantic
aiofiles
xlrd==1.2.0
psycopg2-binary
statsmodels
pandasql
openpyxl
asyncio
watchdog[watchmedo]
pytest-bdd