fastapi
jinja2 
websockets
requests
uvicorn 
starlette  
flask
numpy
pandas
scikit-learn
scipy
SQLAlchemy 
sqlalchemy-utils
matplotlib
pydantic
aiofiles
xlrd==1.2.0
psycopg2-binary
statsmodels
pandasql
openpyxl
asyncio
watchdog[watchmedo]
transformers
accelerate 
sentencepiece 
tensorflowjs 
tensorflow 
graphviz 
torchview